

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fit-window {
  width: 100vw;
  height: 100vh;
}

.fit-tool-bar {
  width: 100vw;
  height: 50px;
}

.fit-canvas {
  width: 100vw;
  height: 100vh - 50px;
}

.App-link {
  color: #61dafb;
}

.plane-tool {
  writing-mode: vertical-rl;
  -webkit-appearance: slider-vertical;
  position:absolute;
  direction: vertical;
  height:100%;
  top:0;
  bottom:0;
  left:1px;
  right:0;
}

.btn-primary {
  background-color: #ffca3a !important;
  border-color: #ffca3a !important;
  color: rgb(0, 0, 60) !important;
}
.btn-primary:hover {
  background-color: #ffe174 !important;
  border-color: #ffe174 !important;
  color: rgb(0, 0, 60) !important;
}

.btn-secondary {
  background-color: #8ac926 !important;
  border-color: #8ac926 !important;
  color: rgb(0, 0, 60) !important;
}
.btn-secondary:hover {
  background-color: #d8f74e !important;
  border-color: #d8f74e !important;
  color: rgb(0, 0, 108) !important;
}

.btn-tertiary {
  background-color: #6a4c93 !important;
  border-color: #6a4c93 !important;
  color: #ffe174 !important;
}
.btn-tertiary:hover {
  background-color: #9175ff !important;
  border-color: #9175ff !important;
  color: #ffca3a !important;
}

.btn-danger {
  background-color: #ff595e !important;
  border-color: #ff595e !important;
  color: black !important;
}
.btn-danger:hover {
  background-color: #ff6643 !important;
  border-color: #ff6643 !important;
  color: white !important;
}

.toolbar-dropdown {
  display:inline-block !important;
  justify-content:space-between !important;
}

.toolbar-dropdown::after {
  height:100%;
  margin-left:6px;
  vertical-align: -50% !important;
}

svg {
  vertical-align: baseline;
  stroke: currentColor;
  stroke-width: 0.5;
  overflow:visible;
}
.caretsvg {
  vertical-align: top !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
